* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #f8fafc;
}

nav {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #2c2c2c;
}

#nav-logo {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.25rem;
    padding: 1rem;
}

.nav-links {
    color: white;
    display: flex;
    width: 60%;
    justify-content: space-around;
}

/* Narrow space between logo and link in small screens */
@media screen and (max-width: 700px) {
    .nav-links {
        width: 70%;
    }
}

/* Dropdown content (default-state: hidden) */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  }

  /* Show dropdown menu on hover */
  .dropdown:hover .dropdown-menu {
      display: block;
  }

/* Links from dropdown box */
.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
  }

.dropdown-menu a:hover {
    background-color: #dddddd;
}

.dropdown-menu a:hover:first-child {
    border-radius: 15px 15px 0px 0px;
}

.dropdown-menu a:hover:last-child {
    border-radius: 0px 0px 15px 15px;
}
